<p>This URLShortener the fastest URL shortener!</p>
<font class="button danger">Link</font> <font class="button">https://translate.google.by/#en/ru/Languages%0ALanguagegfdsdfgdfgg</font>
<br/>
<font class="button success">Result</font> <font class="button"><%= request.url %>mylink</font>
<hr/>
<%= render partial:"urls/form", locals:{url: @url} %>
