<footer class="footer">
  <small>
    <%= link_to "URLShortener", request.url %>
    by <%= link_to "Henb", "https://coderbits.com/henb" %>
  </small>
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>
</footer>